<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 mt-4 border-top position-absolute top-100 w-100">
    <div class="col-md-4 d-flex align-items-center">
        <img src="/img/pokebola.png" alt="logo" width="30">
        <span class="text-muted">&copy; 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex fs-1">
        <li class="m-5">hola</li>
        <li class="m-5">que</li>
        <li class="m-5">tal</li>
    </ul>
</footer>
<!-- js -->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>